<!--View associated to displayList action of TodosController controller -->
<div class="ui inverted segment">
    <div class="ui inverted relaxed divided list">
    {% for item in list %}
        <div class="item">
            {{ item }}
        </div>
        </div>
    {% endfor %}
        <div class="item">
            <form class="ui inline inverted form" action=""{{ patch('todos.add') }}" method="post">
                <div class="two field _form" style="...">
                    <textarea placeholder="Saisir vos elements sur chaques lignes" name="elements" rows="5"></textarea>
                    <button class="ui mini green icon button"> <i class="ui check cirecle outline icon"></i></button>
                </div>
            <div class="field _form">
                <input placeholder="Nouvel element" name="element">
            </div>
            </form>
        </div>
</div>
{{ script_foot | raw }}