<!--View associated to index action of MainController controller -->
<div id="store-index">
        <div class="column" style="margin-top: 100px;">
            <div class="ui horizontal inverted divider">
                <h1 style="color:black; margin-right: 1050px;">Store</h1>
            </div>
            <div class="ui attached inverted segment" >
                <div class="ui divided inverted list">
                    <div class="item">
                        <a href="MainController/order" class="ui secondary red button" tabindex="0">Commandes</a>
                        <div id="store" ></div>
                    </div>

                    <div class="item">
                        <a href="MainController/store" class="ui secondary red button">Parcourir store</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal inverted divider" style="margin-top: 100px;">
                <h1 style="color:black; margin-right: 1050px;">Panier</h1>
            </div>
            <div class="ui attached inverted segment">
                <div class="ui divided inverted list">
                    <div class="item">
                        <a href="MainController/newProduct" class="ui secondary red button" ></i> Creer un nouveau panier</a>
                        <div id="paniers" style="margin-top: 4px"></div>
                    </div>
                    <div class="item">
                        <a href="MainController/" class="ui secondary red button" style=""></i> Voir mes paniers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{ script_foot|raw }}