<h1>My store</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid inverted menu">
            <a href="MainController/store" class="ui item">promotions</a>
            {% for section in listSection %}
            <a href="{{ path('section', [section.id]) }}" class="ui item"> {{ section.name }}
                <span class="ui teal left pointing label"> {{ section.products|length }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="twelve wide column">
        <h3> {{ section.name }} </h3>
        <fieldset>
            <legend>Produits</legend>
            <div class="ui equal width center aligned padded grid">
                {% for prod in product %}
                <div class="four wide column">
                    <a href="{{ path('product', [section.id, prod.id]) }}">
                        <img src="/public/assets/img/{{ prod.image }}.jpg" width="100" height="80" href="{{ path('product', [section.id, prod.id]) }}">
                        <div href="{{ path('product', [section.id, prod.id]) }}" style="color: #1B1C1D" href="{{ path('product', [section.id, prod.id]) }}">{{ prod.name }}</div>
                        <div style="color: #1B1C1D">{{prod.price}}€</div>
                        <div style="color: red">{{prod.promotion}}</div>
                        <br>
                        <div align="center" class="ui vertical green animated button" tabindex="0">
                            <div class="hidden content">Buy</div>
                            <div class="visible content">
                                <i class="shop icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <center><a href=""{{ path('home') }}" class="ui vertical button">Retour vers acceuil</a></center>
        </fieldset>
    </div>
</div>